<br>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Add New Student</button>
            <table class="table table-dark table-bordered table-hover">
                <tr>
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
                <tr *ngFor="let student of allStudent; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.city }}</td>
                    <td><button class="btn btn-danger btn-sm" data-target="#delModal" data-toggle="modal" (click)="askDelete(student)" >Delete</button></td>
                    <td><button class="btn btn-success btn-sm" data-target="#myModal" data-toggle="modal" (click)="askEdit(student)" >Edit</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
 
<app-addstudent 
                (goStudent)="comeStudent($event)"
                [student]="student"
></app-addstudent>
<app-delstudent 
                (confDelete)="studentDelete()"
                [student]="student"
></app-delstudent>