<div class="container">
    <h1>Add New Employee</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/add" method="post">

                <div class="form-group">
                    <label>Employee Name</label>
                    <input type="text" class="form-control" name="name" />
                </div>
                <div class="form-group">
                <label>Department</label>
                <select class="form-control" name="department">
                    <option>Select</option>
                    <option>IT</option>
                    <option>HR</option>
                    <option>Electronics</option>
                </select>
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input type="text" class="form-control" name="salary"/>
            </div>
            <div class="form-group">
                <label>City</label>
    
                <select class="form-control" name="city">
                    <option>Select</option>
                   <% result.forEach(function(x){ %>
                        <option><%= x.name %></option>
                   <% }) %>
                    
                </select>
            </div>
            <div class="form-group">
                
                <input type="submit" class="btn btn-success" value="Add" />
            </div>
        </form>
        </div>
    </div>
</div>