<div class="modal fade" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Delete!</h2>
            </div>
            <div class="modal-body">
                <p>Are you sure want to Delete <b>{{ student.name }}</b> .</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" (click)="del()">Delete</button>
                <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>