<div class="row">
	<div class="col-md-6 offset-md-3">
		<h2>Add Employee</h2>
		<form action="/add" method="post">
			<div class="form-group">
				<label>Full Name</label>
				<input type="text" name="name" class="form-control">
			</div>
			<div class="form-group">
				<label>Age</label>
				<input type="text" name="age" class="form-control">
			</div>
			<div class="form-group">
				<label>Department</label>
				<select class="form-control" name="department">
					<option>select</option>
					<option>Mechanical</option>
					<option>Electrical</option>
					<option>Cs/IT</option>
					<option>Civil</option>
					<option>Electronics</option>
				</select>
			</div>
			<div class="form-group">
				<label>City</label>
				<select class="form-control" name="city">
					<option>select</option>
					<% result.forEach(function(x){ %>
					<option><%= x.name %></option>

				<% }) %>

				</select>
				
			</div>
			<div class="form-group">
				<input type="submit" value="SUBMIT" class="btn btn-success">
			</div>
		</form>
	</div>
</div>