<img class="profile-img"
    [src]="userdata.imagepath" alt="">
<p class="profile-name">{{ userdata.fullname }}</p>
<span class="profile-email">example@gmail.com</span>
<div class="form-signin">
    <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" required autofocus>
    <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="button">
        Sign in</button>
    <a href="#" class="need-help">Need help? </a><span class="clearfix"></span>
    </div>
