<div class="col-md-8 offset-md-2">
    <table class="table table-bordered table-info">
        <% for(var i=1; i<=31; i++)
        { %>
            
            <td style="padding: 30px"><a href="#"><%= i %></a></td>
            <%
            if(i%7==0)
            { %>
                <tr></tr>
            
              <% 
            }
            
         }
         %>
        
    </table>

</div>