<div class="container" style="min-height: 500px">
    <div class="col-md-8 offset-md-2">
        <h2>This is About Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi eaque cumque vel libero, qui excepturi quas modi inventore hic amet deleniti ex, provident quaerat ullam odit cupiditate iste omnis?</p>
    </div>
</div>