<nav class="navbar bg-dark navbar-expand-sm navbar-dark sticky-top">
    <a routerLink="/" class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" data-target="#myMenu" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse float-left" id="myMenu">
        <ul class="navbar-nav float-left">
            <li class="nav-item">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/student" class="nav-link">Student</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="myMenu">
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a routerLink="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="#" class="nav-link">SignUp</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>