<form action="/signup" method="POST">
    <div class="card">
        <div class="card-header bg-danger">
            New User SIgnUp
        </div>
        <div class="card-body bg-light">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="form-group">
                    <label>Re-password</label>
                    <input type="password" class="form-control">
            </div>
        </div>
        <div class="card-footer bg-danger">
            <input type="submit" value="Sign-Up" class="form-control bg-danger border-0 text-dark">
        </div>
    </div>
</form>