<div class="container">
    <div class="col-md-8 offest-md-2" style="min-height: 400px">
        <h2>This is About Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eaque quaerat modi minima? Sequi eaque doloribus, amet dicta aspernatur facilis excepturi neque similique, fuga dignissimos asperiores nihil modi voluptatibus animi?</p>
    </div>
</div>