<div class="jumbotron bg-light jumbotron-fluid mb-0 slider-height">
    <div class="container">
    	<h1 class=" text-center display-4 mt-2 text-dark"> <b><i>The Best Fashion shopping</i></b> </h1>
    		<p class="text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    		 est laborum.</p>
    		
    </div>
</div>
<div class="container-fluid text-light bg-dark">
    	<div class="container ">
    		<h5 class="text-light p-2">New arrival</h5>
    	</div>

</div>
<div class="container content" style="min-height: 500px">
    <div class="row">
    	<div class="col-md-3 float-left" >
    		<ul class="list-group">
    			<li class="list-group-item">Mobile</li>
    			<li class="list-group-item">Electronics</li>
    			<li class="list-group-item">Home Applinces</li>
    			<li class="list-group-item">Fasion for mens</li>
    			<li class="list-group-item">Fasion for womens</li>
    	    </ul>
        </div>

        <div class="col-md-9 float-left">
            <div class="col-md-4 mb-4 float-left">
                <div class="card product-box">
                    <img src="/images/3.jpg" class="card-img-top" height="245" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title text-center my-0">Product</h4>
                        <p class="card-text my-o">Price: 25000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 float-left">
                <div class="card product-box">
                    <img src="/images/3.jpg" class="card-img-top" height="245" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title text-center my-0">Product</h4>
                        <p class="card-text my-o">Price: 25000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 float-left">
                <div class="card product-box">
                    <img src="/images/3.jpg" class="card-img-top" height="245" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title text-center my-0">Product</h4>
                        <p class="card-text my-o">Price: 25000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 float-left">
                <div class="card product-box">
                    <img src="/images/3.jpg" class="card-img-top" height="245" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title text-center my-0">Product</h4>
                        <p class="card-text my-o">Price: 25000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 float-left">
                <div class="card product-box">
                    <img src="/images/3.jpg" class="card-img-top" height="245" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title text-center my-0">Product</h4>
                        <p class="card-text my-o">Price: 25000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 float-left">
                <div class="card product-box">
                    <img src="/images/3.jpg" class="card-img-top" height="245" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title text-center my-0">Product</h4>
                        <p class="card-text my-o">Price: 25000</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>     
