<html>
    <head>
        <title>Home Page</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <h1>Add Page</h1>
        <div class="container">
            <form action="/save" method="post">
                Full Name <input type="text" name="name"/>
                <br />
                <br />
                Age <input type="text" name="age"/>
                <Br />
                <Br />
                Gender : Male <input type="radio" name="gender" value="male"/>
                        Female <input type="radio" name="gender" value="female"/>
                <br/ >
                <br />
                <input type="submit" value="Add" class="btn btn-success" />
            </form>
        </div>
    </body>
</html>