<app-jumbotron></app-jumbotron>

<div class="container content">
    <div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="/sell" class="list-group-link">For Sell</a>
            </li>
            <li class="list-group-item">
                <a routerLink="/buy" class="list-group-link">For Buy</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h5 class="my-bg p-2">Latest Property</h5>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <img src="property_img/1.jpeg" height="150" class="img-thumbnail">
                    </div>
                    <div class="col-md-7">
                        <h4>New Row House for Sell </h4>
                        <p class="m-0 p-0"><strong>Price: Rs.</strong>1000000.00</p>
                        <p><strong>Location:</strong> Tilak Nagar</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="demo()" class="btn btn-success d-block float-right">For More Details</button>
            </div>
        </div>  
    </div>
</div>
</div>
