<div class="container" style="min-height: 600px">
    <div class="row">
        <div class="col-md-12">
            <!-- <h1 class="text-center">Login</h1> -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Welcome to our website</h2>
        </div>
    </div>
</div>