<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About Page</h1>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quas, laboriosam placeat veritatis illum sed deleniti, ea esse ut facilis optio iusto consequuntur. Itaque quibusdam dolores, ex doloribus magni sunt!</p>
                    </div>
                </div>
            </div>