<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Awesome</h1>
                    </div>
                    
                </div>
                <div class="row">
                    <% result.forEach(function(product){ 
                        var d = (product.price * product.discount) / 100;
                        d = product.price - d;
                        
                        %>

                        <div class="col-md-3 mb-4">
                            <div class="card product-box">
                                <img class="card-img-top" height="245" src="images/1.png" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title my-0"><%= product.name %></h4>
                                    <p class="card-text text-muted small-text my-0">Old Price <del class="text-muted"><%= product.price %></del></p>
                                    <p class="card-text my-0">New Price &#8377; <%= d %></p>
                                    <a href="#" class="btn btn-primary">Detail</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                    
                    
                    
                   
                </div>
            </div>