<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-primary" (click)="getData()">Get Data</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <table *ngIf=newObj class="table table-bordered table-dark">
                <tr>
                    <th>S.no</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                </tr>
                <tr *ngFor="let x of newObj; let i=index">
                    <td>{{ i+1 }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.age }}</td>
                    <td>{{ x.city }}</td>
                </tr>
            </table>
        </div>
    </div>
</div> 

<a routerLink="/departments" class="btn btn-dark">Department</a>
<a routerLink="/student" class="btn btn-dark">Student</a>
<a routerLink="/form" class="btn btn-primary">TDF-Form</a>
<a routerLink="/reactive-form" class="btn btn-primary">Reactive-Form</a>
<a routerLink="/forms2" class="btn btn-primary">Reactive-Form-2</a>

<router-outlet></router-outlet>