 <div class="jumbotron header-color">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="display-4">New Arrival</h1>
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                        <button class="btn btn-my">Buy Now</button>
                    </div>
                    <div class="col-md-6 banner"></div>
                </div>
 </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Awesome</h1>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-3 mb-4">
                        <div class="card product-box">
                            <img class="card-img-top" height="245" src="images/1.png" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card product-box">
                            <img class="card-img-top" height="245" src="images/2.jpg" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card product-box">
                            <img class="card-img-top" height="245" src="images/2.jpg" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card product-box">
                            <img class="card-img-top" height="245" src="images/2.jpg" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card product-box">
                            <img class="card-img-top" height="245" src="images/2.jpg" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">See Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      