<div class="modal fade" id="delStudent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this <b>{{student.name}}</b>.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" (click)="del()">delete</button>
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>