
<div class="container" style="min-height: 600px;">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, sapiente unde reiciendis cum deleniti eligendi saepe molestiae dolorem. Fuga veniam animi id sit eligendi repellendus deserunt eveniet deleniti ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni eius aspernatur consequatur aut id temporibus dolore. Dicta, perspiciatis assumenda perferendis earum, veniam esse at dolor iste necessitatibus eum repellat cumque.</p>
</div>

