
<div class="container" style="min-height: 600px;">
    <h1>Help Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam esse sunt quam? Sint quia esse, a neque natus suscipit. Nemo iusto fugit quos voluptatem veritatis vel accusamus dolor voluptas maxime?</p>
</div>

