<!-- <div class="jumbotron jumbotron-fluid slider">
    <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 jumbo">
        <div class="form-group mt-4 pt-4">
            <div class="input-group">
                <input type="text" placeholder="Search Property" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<ngb-carousel>
    <ng-template ngbSlide>
        <img src="/assets/5.jpg" alt="Banner Image">
            <div class="carousel-caption">
                <h2>Welcome to Makaan.com</h2>
                <button class="btn btn-lg btn-outline-light">Get Started</button>
            </div>
    </ng-template>

    <ng-template ngbSlide>
        <img src="/assets/6.jpg" alt="Banner Image">
    </ng-template>

    <ng-template ngbSlide>
        <img src="/assets/8.png" alt="Banner Image">
    </ng-template>

    <ng-template ngbSlide>
        <img src="/assets/7.jpg" alt="Banner Image">
    </ng-template>
</ngb-carousel> 