.icon img{
    margin-right: 80px;
}

.form-group .control-label:after{
    content: "*" ;
    color: red;
}


.form-group select{
    // background: none;
    border: none;
    text-indent: 10px;
}

.form-group select{
    position: relative;
    background: rgb(179, 230, 245);
    border-bottom : 1px solid rgb(3, 93, 145);
    height: 35px;
    cursor: pointer;
}

.form-group input{
    border: none;
    position: relative;
    background: rgb(179, 230, 245);
    border-bottom : 1px solid rgb(3, 93, 145);
    cursor: pointer;
}