<div class="modal fade" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete Message</h3>
            </div>
            <div class="modal-body">
                <p>Are You Sure Want to Delete {{ student.name }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" (click)="del()">Delete</button>
                <button class="btn btn-dark" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>
