<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="myForm" (submit)="submit()">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" [ngClass]=" {'is-invalid': submitted && myForm.controls.fullname.errors}" formControlName="fullname" required class="form-control">
                    <div *ngIf="submitted && myForm.controls.fullname.errors">
                        <p class="text-danger" *ngIf="submitted && myForm.controls.fullname.errors.required">
                            Pls Insert Your Fullname.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" [class.is-invalid]="submitted && myForm.controls.email.errors" formControlName="email" required class="form-control">
                    <div *ngIf="submitted && myForm.controls.email.errors">
                        <p class="text-danger" *ngIf="submitted && myForm.controls.email.errors.required">
                            Pls Insert Your Email.
                        </p>
                        <p class="text-danger" *ngIf="submitted && myForm.controls.email.errors.email">
                            please Enter valid email.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>